.table {
  padding-left: 0;
  display: flex;
  align-items: flex-end;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 1279px) {
  .header {

  }
}

@media screen and (max-width: 1023px) {
  .header {

  }
}

@media screen and (max-width: 767px) {
  .navigation > .table {
    display: block;
  }
}
