.header__list:hover {
  color: #828282;
  cursor: pointer;
}

.header__list:after {
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  background-color: #828282;
  transition: width 0.4s ease-in-out;
}

.header__list:hover:after {
  width: 100%;
}

.header__list {
  color: #828282;
  text-decoration: none;
}

